body{
	background-color: #313131;
}

.form-login{
    margin: auto;
    border: 1px solid #00dbf9;
    padding: 22px;
    background-color: #171616;
}
.header-login{
	width: 100%;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /*background-image: url("../img/background-landing.jpg");*/
    background-size: cover;
}

.text-color{
	color: #00dbf9 !important;
}
.bg-color{
	background-color: #00dbf9;
}


.card-event{
	background-color: #343a40;
    color: white;
    margin-top: 20px;
}

.table thead th {
    border-bottom: 2px solid #00dbf9 !important;
}
.table td, .table th {
    border-top: 1px solid #00dbf9 !important;
}